#%RAML 1.0

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  errors: errors.raml
  headers: headers.raml
  queryParameters: queryParameters.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

title: Individual Losses (MTD)
description: This is a draft spec for the Individual Losses API.
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Changelog
    content: !include docs/changelog.md
  - title: Support
    content: !include docs/support.md
  - title: Testing
    content: !include docs/testing.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

'/individual/losses':
  /{nino}:
    uriParameters:
      nino:
        description: National Insurance number, in the format AA999999A.
        type: string
        example: TC663795B
    /brought-forward-losses:
      (annotations.group):
         name: Brought Forward Losses
         description: !include docs/group_broughtForwardLosses.md
      post: !include endpoints/broughtForwardLosses_create.raml
      get: !include endpoints/broughtForwardLosses_list.raml
      /{lossId}:
        uriParameters:
          lossId:
            description: A unique identifier for the brought forward loss.
            type: string
        get: !include endpoints/broughtForwardLosses_get.raml
        delete: !include endpoints/broughtForwardLosses_delete.raml
        /change-loss-amount:
          post: !include endpoints/broughtForwardLosses_amend.raml
    /claims:
      (annotations.group):
         name: Loss Claims
         description: !include docs/group_lossClaims.md
      get: !include endpoints/lossClaim_create.raml
