#%RAML 1.0

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  errors: errors.raml
  headers: headers.raml
  queryParameters: queryParameters.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

title: Individual Losses
description: |-
  This is a draft spec for the Individual Losses API.
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Changelog
    content: !include docs/changelog.md
  - title: Support
    content: !include docs/support.md
  - title: Testing
    content: !include docs/testing.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

'/individual/losses':
 /{nino}:
   uriParameters:
     nino:
       description: National Insurance number, in the format AA999999A.
       type: string
       example: TC663795B
   /brought-forward-losses:
     post:
       is:
         - headers.acceptJson
         - headers.contentTypeJson
         - headers.testScenarioHeader
         - errors.formatNino
         - errors.incorrectOrEmptyBody
         - errors.formatTaxYear
         - errors.ruleTaxYearNotSupported
         - errors.ruleTaxYearRangeExceeded
         - errors.formatLossType
         - errors.formatSelfEmploymentId
         - errors.ruleSelfEmploymentId
         - errors.formatLossAmount
         - errors.ruleLossAmount
         - errors.clientOrAgentNotAuthorised
         - errors.notFound
       displayName: Create a Brought Forward Loss
       description: This endpoint allows users to create a new brought forward loss which can be submitted against Self-employment, Self-employment class 4, UK FHL property and UK other (Non-FHL) property for the tax year prior to joining MTD.
       (annotations.sandboxData): !include scenarios/broughtForwardLosses_create.md
       (annotations.scope): "write:self-assessment"
       securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
       body:
         application/json:
           description: The brought forward loss information brought into MTD
           type: !include schemas/BroughtForwardLoss.json
           examples:
             example-1:
               description: Class 4 self employment losses
               value: !include examples/createBFLoss/seClass4.json
             example-2:
               description: UK FHL Property losses
               value: !include examples/createBFLoss/fhl.json
       responses:
         201:
           headers:
             X-CorrelationId:
               example: c75f40a6-a3df-4429-a697-471eeec46435
               description: Unique ID for operation tracking <br> String, 36 characters.
           body:
             application/json:
               type: !include schemas/createBFLoss/create_response.json
               example: !include examples/createBFLoss/response.json
